$shadow-side-nav: 0px 0px 18px 0px rgba(0,0,0,0.18), 0px 0px 5px 0px rgba(0,0,0,0.24);
$shadow-dropdown: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
$shadow-dragging: $shadow-dropdown;
