$fast-duration: 0.25s;
$medium-duration: 0.5s;
$slow-duration: 1s;

@mixin smooth-transition($property: all, $duration: $medium-duration) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($ease-out-cubic);
}
