.gu-mirror {
  pointer-events: none;
}

.package-editor-row {
  th:first-child {
    padding: 0;
  }

  &.gu-mirror {
    @include display(flex);
    background: white;
    box-shadow: $shadow-dragging;

    th, td {
      @include flex(1);
      border: none;
    }
  }
}

.package-editor-column {
  padding: 0;

  &.gu-mirror {
    background: white;
    box-shadow: $shadow-dragging;
    display: block;
    height: auto;

    th, td {
      display: block;
    }
  }
}

.package-editor-header {
  @include display(flex);
  @include align-items(center);
  height: 2.5rem;

  a {
    color: disabled-color();
    padding: .25rem;

    &:hover {
      color: secondary-color();
    }

    i { display: block; }
  }

  span {
    @include flex(1);
    @include ellipsis;
    line-height: 1.5rem;
    vertical-align: middle;
    text-align: left;
    padding-left: 0.5rem;
  }

  .package-editor-row th:first-child & {
    span {
      text-align: left;
    }
  }
}

.package-editor-row .package-limit,
.package-editor-column .package-limit {
  padding: 0;
}

.package-limit-editor {
  padding: 0;
  position: relative;
}

.package-limit-editor-ui {
  min-height: 2.5rem;

  &.drop-target {
    @include display(flex);
    @include align-items(center);
    cursor: pointer;
  }

  &.drop-element {
    background: white;
    width: 8rem;

    .drop-content div {
      height: 2.5rem;
      @include display(flex);
      @include align-items(center);
    }
  }

  span {
    @include flex(1);
    text-align: center;
    line-height: 1.5rem;
    vertical-align: middle;
    min-width: 2rem;
  }

  button {
    padding: 0;
    background: none;
    color: disabled-color();

    i { display: block; }

    &.selected {
      color: $action-color;
    }

    &[rel="all"] {
      font-size: 1rem;
      line-height: 1.125rem;
      overflow: hidden;
      width: 1.25rem;
      height: 1.25rem;
      border: 0.125rem solid disabled-color();
      border-radius: 50%;
      box-sizing: border-box;
      margin: 0.125rem;

      &.selected {
        border-color: $action-color;
      }
    }
  }
}
